@charset "UTF-8";

fonte-padrao: @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,600;1,900&display=swap');


:root {
    --marrom-forte: #573100;
    --laranja:#F28705;
    --cinza: #D7CFCC;
    --background: #e8e2d3;
} 

:root {
    --fonte-padrao:'Source Sans Pro', sans-serif;
    --fonte-sec: Arial, Helvetica, sans-serif;
}



* body, html {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    background-color:white;
}

/*Início do header*/

a {
    color: black;
    text-decoration: none;
    font-family: var(--fonte-sec);
    transition: .6s;
}

a:hover {
    background-color:#57310091;
    color: #D7CFCC;

    border-radius: 10px;
}

#logo {
    width: auto;
    height: 90px;
    border-radius: 50%;
    margin: auto 0 ;
}

#header {
    display: flex;
    box-sizing: border-box;
   /* max-width: 900px;*/
    height: 110px;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #f28705;
}

#menu {
    display: flex;
    width: auto;
    list-style: none;
    gap: 3em;
    margin: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}

#menu a {
    display: block;
    padding: 10px;
}


#btn-mobile {
    display: none;
    
}

/*Final do header*/

/* Aqui começa a estilização do main*/

#container-main {
    display: block;
  /*  max-width: 900px;*/
    margin: 0 auto;
    text-align: center;
    background-color: #e8e2d3;
}

#conatiner-main, h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3em;
    background-color: #e8e2d3;
    margin-top: 0px;
    padding: 20px;
    
}

#conatiner-main, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    background-color: #e8e2d3);
}

#video-principal {
    width: 90%;
    height: 400px;
    margin: auto;
    background-color: #f2870576;
    margin: auto;
}

/* final do main*/

@media (max-width: 755px)
{
     #menu {
        /*display: none;*/
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        height: 0px;
        top: 110px;
        right: 0;
        color: #e8e2d3;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }


    #nav.active #menu {
        /*display: block;*/
        text-align: center;
        height:27vh;
        visibility: visible;
        overflow-y: auto;
        color: #e8e2d3;
    }

    #menu a {
        background-color:  #e8e2d3;
        color: #9c5902;
        border-radius: none;
        margin: auto;
        border-bottom: 2px solid rgba(87, 49, 0, 0.384);
    }

    #btn-mobile {
        display: flex;
        padding: .6em;
        font-size: 2em;
        border: none;
        cursor: pointer;
        background-color: #b6640052;
    }

    #hamburger {
        border-top: 3px solid;
        width: 30px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        width: 30px;
        height: 3px;
        background-color: currentColor;
        display: block;
        margin-top: 5px;
        transition: .7s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top: transparent;
    }
    
    #nav.active #hamburger::before {
        transform: rotate(135deg);
        width: 30px;
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        width: 30px;
        top: -7px;
    }

   

}


