@charset "UTF-8";

fonte-padrao: @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,600;1,900&display=swap');


:root {
    --marrom-forte: #573100;
    --laranja:#F28705;
    --background:#E6D7C2;
    --cinza: #D7CFCC;
} 

:root {
    --fonte-padrao:'Source Sans Pro', sans-serif;
    --fonte-sec: Arial, Helvetica, sans-serif;
}


* body, ul {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    background-color:var(--background);
}

a {
    color: black;
    text-decoration: none;
    font-family: var(--fonte-sec);
}

a:hover {
    background-color: #F28705;
    border-radius: 10px;
}

#logo {
    width: auto;
    height: 80px;
}

#header {
    display: flex;
    box-sizing: border-box;
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
}

#menu {
    display: flex;
    list-style: none;
    gap: 2em;
}

#menu a {
    display: block;
    padding: 10px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px)
{
     #menu {
        /*display: none;*/
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        height: 0px;
        top: 80px;
        right: 0;
        background-color: lightgrey;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        /*display: block;*/
        text-align: center;
        height:25vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        border-radius: none;
        margin: auto;
        border-bottom: 1px solid rgba(87, 49, 0, 0.384);
    }

    #btn-mobile {
        display: flex;
        padding: 1em;
        font-size: 1em;
        border: none;
        cursor: pointer;
        gap: 5px;
    }

    #hamburger {
        border-top: 2.5px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        width: 20px;
        height: 2.5px;
        background-color: currentColor;
        display: block;
        margin-top: 5px;
        transition: .7s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top: transparent;
    }
    
    #nav.active #hamburger::before {
        transform: rotate(135deg);
        width: 25px;
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        width: 25px;
        top: -7px;
    }

   

}


